.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navlinks__button {
    background-color: #239999;
    color: white;
    padding: 10px 10px;
    margin: 0px 5px 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.landing__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.header {
    font-family: Impact;
    font-size: 4em;
    margin: 10px;
}

.text {
    background-color: #c2c2c2;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    width: 75%;
    margin: 15px;
    padding: 10px 10px;
    text-align: center;
    align-self: center;
    text-decoration: none;
    display: inline-block;
}

.links__button {
    background-color: #239999;
    color: white;
    margin: 15px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* -------------------------
---------Carousel-----------
---------------------------- */
.carousel {
    align-self: center;
}

.icon-cards {
  position: relative;
  top: 50%;
  left: 50%;
  width: 190px;
  height: 210px;
  margin: 0;
  perspective: 800px;
  transform: translate(-50%,-50%);
}

/* This is the element that rotates with the animation */

.icon-cards__content {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform: translateZ(-182px) rotateY(0);
	animation: carousel 10s infinite cubic-bezier(1,.015,.295,1.225) forwards;
}

/* Individual cards */

.icon-cards__item {
    position: absolute;
    top: 50%;
	width: 190px;
	height: 210px;
    border-radius: 6px;
}

.icon-cards__item:nth-child(1) {
	background: rgba(252,192,77);
	transform: rotateY(0) translateZ(182px);
}

.icon-cards__item:nth-child(2) {
	background: rgba(49,192,204);
	transform: rotateY(120deg) translateZ(182px);
}

.icon-cards__item:nth-child(3) {
	background: rgb(139, 238, 73);
	transform: rotateY(240deg) translateZ(182px);
}

/* Carousel animation */

@keyframes carousel {
	0%,  17.5%  { transform: translateZ(-182px) rotateY(0); }
	27.5%, 45%  { transform: translateZ(-182px) rotateY(-120deg); }
	55%, 72.5%  { transform: translateZ(-182px) rotateY(-240deg); }
	82.5%, 100% { transform: translateZ(-182px) rotateY(-360deg); }
}